:root {
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --color-logo:#000000;
  --main-color-text:#212121;
  --second-color-text:#757575;
  --third-color-text:#ffffff;
  --second-background-color:#2F303A;
  --third-background-color:#F5F4FA;

}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
/* Header styles */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo{
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}


.second-color-logo{
  color: var(--accent-color);
}
.active-page{
  color: var(--accent-color);
}

.nav-list{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}
.nav-list:hover,
.nav-list:focus{
  color: var(--accent-color);
}
.nav-list.curent{
  color: var(--accent-color);
}
.nav-contact{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14
  letter-spacing: 0.02em;
  color: var(--second-color-text);
}
.nav-contact:hover,
.nav-contact:focus{
  color: var(--accent-color);
}

/* Main styles */
.hero-section{
  background-color: var(--second-background-color);
}
.main-header{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color-text);
}
.main-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color:var(--third-color-text);
  background-color: var(--accent-color);
}
.main-button:hover,
.main-button:focus{
  background-color:#188CE8;
}

.trird-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-text);
}

.desc-advantage{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color-text)
}
.second-header{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}
.our-team{
  background-color: var(--third-background-color);
}
.team{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text)
}

.team-profesion{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--second-color-text);
}
.card-member{
  background-color:#ffffff;
}
/* footer styles */
.footer{
  background-color: var(--second-background-color);
}
.nav-contact-foot{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.addressfoot{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color-text);
}
.addressfoot:hover,
.addressfoot:focus,
.nav-contact-foot:hover,
.nav-contact-foot:focus{
  color: var(--accent-color);
}


.logo-foot{
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/* Styles Porfolio */

.button-port{
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  color: var(--main-color-text);
  background-color: var(--third-background-color);
}
.button-port:hover,
.button-port:focus{
  color: var(--third-color-text);
  background-color: var(--accent-color);
}
.second-header-port{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-text)
}
.desc-port{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}


